name: CI

on: pull_request

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container: swift:latest
    steps:
    - uses: actions/checkout@v6
    - run: swift build
  lint:
    runs-on: ubuntu-24.04-arm
    container: swift:latest
    steps:
      - uses: actions/checkout@v6
      - run: swift format lint -r -p -s .
